/.cache/
/.emacs.desktop
/.init.el.un~
/.tmp/
/auto-save-list/
/backups/
/bin/
/dape-breakpoints
/eln-cache/
/history
/ielm-history.eld
/init.el~
/issues.org
/marginalia.org
/plantuml.jar
/projects
/racket-mode/
/semanticdb/
/straight/
/tramp
/transient/
/tree-sitter/
/tutorial/
/url/
/mason/
